*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    width: 100%;
    background-color: #111;
}

@font-face {
    font-family: "extra-bold";
    src: url(./Montserrat/static/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: "semi-bold";
    src: url(./Montserrat/static/Montserrat-SemiBold.ttf);
}

.hero-section{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-section img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
}

.hero-section-heading{
    z-index: 1;
    color: white;
    font-size: 50px;
    scale: 90%;
}

.hero-section-heading h1{
    font-family: "extra-bold";
    font-style: italic;
    letter-spacing: -7.5px;
    /* border: 1px solid red; */
    font-size: 2.25em;
    margin-top: -40px;
    margin-left: 50px;
}

.hero-section-heading h2{
    font-family: "semi-bold";
    font-style: normal;
    font-size: 1em;
    /* border: 1px solid green; */
    letter-spacing: -2.5px;
}

.hero-section-heading h2:nth-child(2){
    margin-top: -20px;
}