*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    width: 100%;
    background-color: #111;
}

@font-face {
    font-family: "extra-bold";
    src: url(./Montserrat/static/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: "semi-bold";
    src: url(./Montserrat/static/Montserrat-SemiBold.ttf);
}

.hero-section{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-section img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
}

.hero-section-heading{
    z-index: 1;
    color: white;
    font-family: "extra-bold";
    font-size: 70px;
    font-style: italic;
    letter-spacing: -7.5px;
}